@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
 
:root {
    --main-color: rgb(215, 97, 219);
    --secondary-color: rgb(112, 217, 249);
    --hover-color:rgb(98, 0, 123);
    --bg-light-color: #fff;
    --bg-dark-color:rgb(16, 12, 28);
    --border-radius: 1rem;
    --button-border-radius: 1rem;
    --margin-side: 8rem;
    --box-shadow: 0.1rem 0.2rem 0.3rem #bdbdbd;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* Body styles */
body {
    font-family: Pangolin;
}
/*Дэлгэцний гол хэсэг*/
 
/*Blogcard доторх зураг, товч, одны дизайн*/
article {
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0.1rem 0.2rem 0.5rem #555;
    border-radius: var(--border-radius);
        & img {
        max-width: 100%;
        border-radius: var(--border-radius);
        }
        & h3 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 10px;
        }
        & .value {
            font-family: Pangolin;
            border: none;
            border-radius: var(--border-radius);
            background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-left: 2%;
            padding: 0.7em 0.7em;
            font-size: 1em;
            border-radius: 1rem;
        }
        & .value:hover{
            box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px #0A5C76, 0px 0px 0px 10px white, 0px 0px 0px 10.5px #2FA2C6;
            background-image: none;
            background-color: #fff;
            color: #0A5C76;
            transition: 0.2s;
        }
        & .like{
            float: right;
            border: none;
            background-color: white;
        }
        & meter{
            text-align: center;
            position:relative;
            appearance: none;
            color: white;
            background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
            padding: 0.4rem;
            border-radius: 0.7rem;  
        }
}
meter{
    height: 1.8rem;
}