@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
    --main-color: rgb(10,92,118);
    --secondary-color: rgb(41,151,185);
    --main-bg-color: #f8f8f8;
    
}

article button {
    border: none;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 2%;
    padding: 0.7em 0.7em;
    font-size: 1em;
    border-radius: 1rem;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Pangolin;
}
article {
    & img {
    max-width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: 2%;
    }
    & h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  }