@import url("root.css");

* {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
  }

  body {
    width: 100%;
  }

  /*header part*/
  header {
    background-color: var(--main-color);
    background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    padding-bottom: 4%;
}

/*footer part*/
footer {
    background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    padding:0px;
    text-align: center;
    & p{
    color: white;
    text-align: center;
    padding-bottom: 10px;
    }
     & a{
        text-decoration: none;
        padding: 5px;
    }
    & ul, li{
        list-style: none;
    }
    & .logopngfooter {
        max-width: 60%; /* Make sure the images don't exceed their container */
      }
    .footerGrid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        padding-top: 20px;
    }
     & .footer-section:nth-child(2) img {
        padding: 5px;
    }
    
      
}