@import url(root.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Pangolin;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-image: linear-gradient(to bottom right, #0A5C76, #2FA2C6);
  }

nav {
    width: 100%;
    display: flex;  
    align-items: center;
    justify-content: space-around;
    margin: 0 2.5rem;
    & ul{
        display: flex;
        flex-direction: row;
        gap:1.82rem;
    }
    & li{
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: white;
    }
    & a:hover{
        color: rgb(10,92,118);
    }
    & .headerButton{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }
    & svg {
        fill: white;    
    }
    & .logopng1{
        padding-top: 0.5rem;
    }
  
}


footer {
    background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    padding-top: 0.5rem;
    text-align: left;
    & hr{
        margin-top: 2rem;
        border: none;
        height: 0.1rem;
        background-color: white;
        width: 80%;
        grid-column: 1 / span 3;
        grid-row: 2;
    }
    & p{
        color: white;
        grid-column: 1 / span 3;
        grid-row: 3;
    }
    &> p{
        text-align: center;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(205, 205, 205);
    }
    & a{
        color: rgb(205, 205, 205);
        text-decoration: none;
        font-size: 14px;
    }
    & ul, li{
        margin-left: 6rem;
        margin-bottom: 0rem;
        list-style: none;
        font-size: 1.2rem;
        padding: 0.3rem;
        &> p{
            font-size: 18px;
        }
    }
    & img{
        margin-left: 15rem;
        width: 70%;
        justify-content: space-around
    } 
    & svg {
        fill: rgb(205, 205, 205); 
    }
    & a:hover{
        color: rgb(10,92,118);;
    }
}
