@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
:root {
    --main-color: rgb(10,92,118);
    --secondary-color: rgb(41,151,185);
}
body {
    font-family: Pangolin;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-image: linear-gradient(to bottom right, #0A5C76, #2FA2C6);
  }

nav {
    display: flex;
    align-items: center;
    & ul{
        width: 80rem;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-left: -80rem;
    }
    & li {
        list-style: none;
        margin-right: -10rem;
        margin-left: -3rem;
    }
    & a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    & a:hover{
        color: rgb(10,92,118);
    }
    & svg {
        height: 1.4rem;
        margin-right: 1rem;
        fill: white; 
        padding: 0 7rem;
    }
    & .logopng1 {
        width:13%;
        padding: 0 7rem;
        align-items: center;
        margin-top: -1rem;
        margin-bottom: -1rem;
    }
    & .headerButton{
        display: flex;
        flex-direction: row;
        margin-top: 1.2rem;
    }
    & .navSearch{
        margin-right: -13rem;
    }
}


footer {
    background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    padding-top: 0.5rem;
    text-align: left;
    & hr{
        margin-top: 2rem;
        border: none;
        height: 0.1rem;
        background-color: white;
        width: 80%;
        grid-column: 1 / span 3;
        grid-row: 2;
    }
    & p{
        color: white;
        grid-column: 1 / span 3;
        grid-row: 3;
    }
    &> p{
        text-align: center;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(205, 205, 205);
    }
    & a{
        color: rgb(205, 205, 205);
        text-decoration: none;
        font-size: 14px;
    }

    & ul, li{
        margin-left: 6rem;
        margin-bottom: 0rem;
        list-style: none;
        font-size: 1.2rem;
        padding: 0.3rem;
        &> p{
            font-size: 18px;
        }
    }

    & img{
        margin-left: 15rem;
        width: 70%;
        justify-content: space-around
    } 
    & svg {
        fill: rgb(205, 205, 205); 
    }
    & a:hover{
        color: rgb(10,92,118);;
    }
}
