@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
:root {
    --main-color: rgb(10,92,118);
    --secondary-color: rgb(41,151,185);
}
body {
    font-family: Pangolin;
}

header {
    background-color: var(--main-color);
    background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    padding-bottom: 5%; 
    & nav
    {
       display: inline;
   
       & a {
           text-decoration: none;
           color: white;
           font-size: 16px;
       } 
       & img{
               width: 20%;
               margin-bottom: -2.4%;
               margin-left: 4%;
       }
       & ul{
           list-style-type: none;
       }
       & li {
           display: inline;
           margin-right: 10px;
       }
       & a:hover{
        color: black;
       }
       .searchicon{
        width: 2%;
        padding-bottom: 25px;
       }
       .navButton :hover{
            color: aliceblue;
            background-color: aqua;
       }
   }
   
    
}


footer {
    background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    padding:0px;
    text-align: center;
    & p{
    color: white;
    text-align: center;
    padding-bottom: 10px;
    }
    & a{
        text-decoration: none;
        padding: 5px;
    }
    & ul, li{
        list-style: none;
    }
    & .logopngfooter {
        max-width: 60%; /* Make sure the images don't exceed their container */
      }
    .footerGrid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        padding-top: 20px;
    }
    & .footer-section:nth-child(2) img {
        padding: 5px;
    }
     & hr{
        margin-bottom: 10px;
        width: 80%;
        margin-left: 10%;
    }
    & img{
      width: 30%;
      margin-bottom: -2.4%;
      margin-left: 4%;
}  
}
