@import url(./general.css);
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
 
body {
    font-family: pangolin;
    margin: 0;
    padding: 0;
   
}
 
main {
    width: 85%;
    margin: auto;
}
 
/*LetsGo buttontoi filterdej searchilj bga heseg maani*/
.Lsearch {
    display: flex;
    text-align: center;
    overflow: hidden;
    margin-left: 30%;
    border-radius: 20px;
    width: 50%;
    margin: 2rem;
    margin-left: 25%;
    & select, button{
        flex: 1;
        font-size: 14px;
    }
    & select{
        width: 8rem;
        padding: 0.5rem;
        font-family: pangolin;
        color:#666666 ;
        background-color: #ececec;
    }
    & button {
        background-image: linear-gradient(to bottom right, #0A5C76, #2FA2C6);
        color: #fff;
        border: none;
        border-radius: 0 20px 20px 0;
        font-family: pangolin;
    }
    & button:hover {
        background-color: #0056b3;
    }
    & #huniiToo {
        border-radius: 20px 0 0 20px;
    }
    & .option1, .option2, .option3 {
        text-align: center;
        font-size: 16px;
        width: 10px;
        height: 50px;
        border-radius: var(--border-radius);
    }
  }
    .priceFilter[type=range] {
        width: 100%;
        margin: 10px 0;
    }

    /* Style to make the slider more appealing */
    .priceFilter[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: rgb(10,92,118);
        cursor: pointer;
    }

    .priceFilter[type=range]::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: rgb(10,92,118);
        cursor: pointer;
    }
 
.undsen {
    display: grid;
    grid-row: auto;
    grid-template-columns: 25% 67%;
    grid-column-gap: 8%;
}
 
aside {
    border-radius: 1rem;
    padding: 0.5rem 1em;
    box-shadow: 0 1px 2px 0 gray;
    height: 35rem;
    padding: 2rem 2.5rem;
    & li {
        list-style: none;
        display: flex;
        flex-direction: row;
        font-size: 13px;
        justify-content: space-between;
        gap: 2rem;
    }
    & hr{
        height: 0.1rem;
        margin: 1rem 3rem;
    }
    & h2 {
        text-align: center;
    }
    & h3 {
        font-size: 17px;
        margin-bottom: 0.7rem;
    }
    & label {
        font-size: 13px;
    }
    & input {
        margin-right: 1rem;
    }
}
 
.result {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
 
article {
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    box-shadow: 0 1px 2px 0 gray;
    & img {
        height: 100%;
        width: 40%;
        border-radius: 1rem 0 0 1rem;
        object-fit: cover;
    }
    & .information{
        width: 100%;
        display: flex;
        padding: 0.2rem 0.5rem;
        flex-direction: column;
        margin-left: 0.5rem;
        & section{
            display: flex;
            gap: 1rem;
            justify-content: space-between;
        }
        & h3{
            margin-top: 1rem;
        }
        & p{
            font-size: 0.7rem;
        }
        & button{
            border-style: none;
            background-color: #fff;
            width: 1rem;
        }
        & meter {
            margin-top: -2.6rem;
            margin-left: 10rem;
        }
        & .like {
            margin-left: 28rem;
            margin-top: -1.9rem;
            font-size: 1.3rem;
        }
        & .delgerengui {
            margin: 0.5rem 0.5rem;
            padding: 0.4rem 0.2rem;
            border-radius: 0.6rem;
            border-style: none;
            color: white;
            font-family: pangolin;
            background-image: linear-gradient(to bottom right, #0A5C76, #2FA2C6);
            height: 2rem;
            width: 13rem;
            text-align: center;
            margin-left: 17rem;
            float: right;
        }
        & #une {
            margin-left: 21.5rem;
            font-size: 14px;
            font-weight: bold;
            color: #000000;
        }
        & .info {
            margin-top: 1.5rem;
            display: grid;
            grid-row: auto;grid-template-columns: 30% 70%;
        }
        & .tag {
            font-size: 15px;
            margin-bottom: 0.5rem;
        }
        & .addr {
            font-size: 15px;
        }
        & .time {
            font-size: 14px;
        }
        & .phone {
            font-size: 14px;
        }
        & li {
            list-style: none;
        }
        
        & a {
            text-decoration: none;
        }
        & ol{
            display: flex;
            flex-direction: column; /* This will stack the list items vertically */
            list-style: none;
            padding-left: 0; /* This removes padding to align with the start of the container */
            counter-reset: step;
            > li{
                width: 100%; /* This will make the list items use the full width available */
                font-size: 0.7rem;
                position: relative;
                text-align: left; /* Align the text to the left */
                text-transform: uppercase;
                margin-top: 1rem;
                color: #ffffff;
            }
            > li:before {
                width: 1rem;
                height: 1rem;
                content: counter(step);
                counter-increment: step;
                line-height: 1.2rem;
                display: block;
                text-align: center;
                border-radius: 50%;
                position: absolute;
                left: 0; /* Align the pseudo-element to the left */
                top: 0; /* Align the pseudo-element to the top of the li */
                z-index: 2;
                background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));  
            }
            > li:after {
                width: 0.1rem;
                height: 100%;
                content: '';
                position: absolute;
               
                left: 0.4rem;
                background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
            }
            > li:last-child:after {
                content: none;
            }
            > li.active:before {
                background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
            }
            & p {
                margin-left: 1.5rem;
            }
        }  
    }
}

.bugd {
    margin-top: 5rem;
    margin-bottom: 5rem;
    & hr{
        height: 0.1rem;
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
        width: 100%;
    }
    & .btn{
        width: 15rem;
        margin-top: -1.2rem;
        position: absolute;
        border: none;
        border-radius: 0.5rem;
        background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
        color: white;
        font-family: pangolin;
        padding: 0.7em 0.7em;
        font-size: 1em;
        margin-left: 35%;
    }
}

.suuliinZuraas{
    width: 108.8%;
    height: 0.1rem;
    background-image: linear-gradient(to bottom right, #0A5C76, #2FA2C6);
    margin-top: -1rem;
    margin-bottom: 5rem;
    border-style: none;
}
 
address, time, p, ul , li, a, label{
    color: #666666;
}
h2 {
    font-size: 18px;
}
 
/* endees media queries ee bichij ehelyaa */
@media only screen and (max-width: 1050px) {
    /* Adjust the container for slightly larger screens but not full desktop size */
    .container {
        width: 90%;
        margin: auto;
        padding: 0 15px;
    }

    /* Fine-tune font sizes for comfortable reading */
    body, h1, h2, h3, h4, h5, h6 {
        font-size: larger;
    }

    /* Ensure images are still responsive */
    img {
        max-width: 100%;
        height: auto;
    }

    /* Consider a multi-column layout that makes use of the wider screen */
    .column {
        width: 33.33%;
        float: left;
        padding: 10px;
    }

    /* Increase padding and margins to make better use of space */
    .padding, .margin {
        padding: 15px;
        margin: 15px;
    }

    /* Adjust visibility of elements as necessary */
    .hide-on-large, .show-on-large {
        display: none;
    }
}

@media only screen and (max-width: 780px) {
    .container {
        width: 95%;
        margin: auto;
        padding: 0 10px;
    }
    body, h1, h2, h3, h4, h5, h6 {
        font-size: medium;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .column {
        width: 50%;
        float: left;
        padding: 5px;
    }
    .padding, .margin {
        padding: 10px;
        margin: 10px;
    }
    .hide-on-medium, .show-on-medium {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    body, h1, h2, h3, h4, h5, h6 {
        font-size: smaller;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .column {
        width: 100%;
        display: block;
    }
    .padding, .margin {
        padding: 5px;
        margin: 5px;
    }
    .hide-on-mobile {
        display: none;
    }
}




