@import url(./general.css);
 
 
body {
    margin: 0;
    padding: 0;
    font-family: Pangolin;
    background: linear-gradient(to right, var(--main-color), var(--secondary-color));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
.login-box {
    width: 20rem;
    height: 25rem;
    background: var(--bg-light-color);
    padding: 3rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
 
form {
    position: relative;
}
 
h2 {
    margin: 0 0 1.3rem;
    padding: 0;
    font-size: 1.4rem;
    color: var(--h-color);
    text-align: center;
}
 
.user-box {
    position: relative;
    margin: 1.3rem 0;
}
 
.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--h-color);
    margin-bottom: 30px;
    border: none;
    border-bottom: 0.1rem solid var(--secondary-color);
    outline: none;
    background: transparent;
}
 
.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.7rem 0;
    font-size: 1rem;
    color: var(--secondary-color);
    pointer-events: none;
    transition: 0.5s;
}
 
.user-box input:focus ~ label,
.user-box input:valid ~ label {
    transform: translateY(-1.3rem);
    font-size: 0.8rem;
    color: var(--secondary-color);
}
 
.button button {
    font-family: Pangolin;
    border: none;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    color: var(--bg-light-color);
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 0.7em 0.7em;
    font-size: 1em;
    width: 100%;
}
 
.button button:hover {
    box-shadow: 0 0 0 0.1rem var(--bg-light-color), 0 0 0 0.2rem var(--main-color), 0 0 0 0.4rem var(--bg-light-color), 0 0 0 0.4rem var(--main-color);
    background-image: none;
    background-color: var(--bg-light-color);
    color: var(--main-color);
    transition: 0.2s;
}
 
.register {
    margin-top: 1.3rem;
    font-size: 0.9rem;
    text-align: center;
}
 
.register a {
    background: linear-gradient(to right, var(--main-color), var(--secondary-color));
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
 
}
 
.register a:hover {
    text-decoration: underline;
}