@import url(./general.css);
 
 
body {
    margin: 0;
    padding: 0;
    font-family: Pangolin;
    background: linear-gradient(to right, var(--main-color), var(--secondary-color));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
.login-box {
    width: 20%;
    background: rgba(255, 255, 255, 0.8);
    padding: 3rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
 
form {
    position: relative;
}
 
h2 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 28px;
    color: #333;
    text-align: center;
}
 
.user-box {
    position: relative;
    margin: 20px 0;
}
 
.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #3498db;
    outline: none;
    background: transparent;
}
 
.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #3498db;
    pointer-events: none;
    transition: 0.5s;
}
 
.user-box input:focus ~ label,
.user-box input:valid ~ label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #3498db;
}
 
.button button {
    font-family: Pangolin;
    border: none;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 0.7em 0.7em;
    font-size: 1em;
    width: 100%;
}
 
.button button:hover {
    box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px var(--main-color), 0px 0px 0px 10px white, 0px 0px 0px 10.5px var(--main-color);
    background-image: none;
    background-color: #fff;
    color: var(--main-color);
    transition: 0.2s;
}
 
.register {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}
 
.register a {
    background: linear-gradient(to right, var(--main-color), var(--secondary-color));
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
 
}
 
.register a:hover {
    text-decoration: underline;
}