@import url('root.css');

* {
    box-sizing: border-box;
    font-family: Pangolin;
}

/*Дэлгэцний гол хэсэг*/
main{
    margin-left: 8rem;
    margin-right: 8rem;
    display: flex;

}
/*Нэр ба зураас*/
.name{
    & h1{
        font-size: 1.2rem;
    }
    & hr{
        height: 0.2rem;
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
}
/*Дэлгэцийг 2 хэсэг хуваах ба хуваасан хэсэг бүрийг үг зургаар нь хуваана*/
.plans{
    display: grid;
    gap: 3rem;
    grid-template-columns: auto auto; 

    & .name{
        grid-column: 1 / span 2;
        margin-bottom: 0;
        padding-left: 3rem;
    }

    & .item{
        display: grid;
        max-width: 50vw;
        gap: 1rem;
        grid-template-areas: 'PlanImage PlanInfo';
    }
}
/*Blogcard доторх мэдээлэл болон зурагны дизайн*/
article {
    border: none;
    box-shadow: 0.1rem 0.2rem 1rem #555;
    border-radius: 1rem;
    & .PlanImage{
        display: flex;

        & img{
            border-radius: 1rem;
            width: 25rem;
            height: auto;
        }

        & meter{
            position:absolute;
            margin-left: 18rem;
            margin-top: 1rem;
        }
    }

    & .PlanInfo{
        padding: 1rem;
        position: relative;

        & .heart{
            float: right;
            margin: 1rem;
        }
        & .value{
            width:80%;
            align-items: center;
            border: none;
            border-radius: var(--border-radius);
            background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
            color: white;
            cursor: pointer;
            padding: 0.7em 0.7em;
            font-size: 1em;   
        }
        & a {
            float: right;
            margin: 1rem;
        }
        & ol{
            display: flex;
            flex-direction: row;
            & li{
                flex-direction: column;
            }
        }
    }
}



