/*import fonts*/

* {
    box-sizing: border-box;
    font-family: Pangolin;
}

header{
    width: 100%;
    height: 5rem;   
    display: flex;
    background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    & ul{
        margin: 0;
        padding: 0;   
        list-style-type: none;
        overflow: hidden;

        & li{
            float: left;
            & a{
                display: block;
                color: var(--main-color);
                text-align: center;
                padding: 1rem;
                text-decoration: none;
            }
        } 
    }
    & img{
        width: 11rem;
        height: auto;
    }
    & button{
        background-color: var(--main-color);
        border: none;
        color:black;
        padding: 2rem;
    }
}
li a:hover{
    color: #555;
}

article {
    top: 0;
    left: 0;
    right:0;
    width: 70%;
    height: 20rem;
    border-radius: 10rem;
    border-width: 1rem;
    & img{
        width: 15rem;
        border-radius: 1rem;
        max-width: 100%;
    }
    & ol{
        margin: 0;
        padding: 0; 
        & li{
            float: left;
            color: black;
            text-align: center;
            text-decoration: none;
        } 
    }
}

.name{
    & h1{
        
    }
}


