/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

/* Resetting default margin and padding */
:root {
    --main-color: #007bff;
    --secondary-color: #555;
    --border-radius: 20px;
}

* {
    box-sizing: border-box;
    font-family: Pangolin;
}

header{
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    display: flex;
    & ul{
        list-style-type: none;
        margin: 0;
        padding: 0;      
        & li{
            float: left;
            & a{
                color: white;
                text-align: center;
                padding: 5rem;
                text-decoration: none;
            }
        } 
    }
    & img{
        width: 10rem;
        height: auto;
    }
}

article {
    top: 0;
    left: 0;
    right:0;
    width: 70%;
    height: 20rem;
    border-radius: 10rem;
    border-width: 1rem;
    & img{
        width: 15rem;
        border-radius: 1rem;
        max-width: 100%;
    }
}


