@import url('root.css');

* {
    box-sizing: border-box;
    font-family: Pangolin;
}


main{
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
}

.plans{
    display: grid;
    gap: 5rem;
    grid-template-columns: auto auto;
}

.item{
    display: grid;
    gap: 2rem;
    grid-template-areas: 'zrg ug';
}
article {
    border: none;
    box-shadow: 0.1rem 0.2rem 1rem #555;
    border-radius: 1rem;
    & img{
        border-radius: 1rem;
        width: 25rem;
        height: auto;
    }
    & ol{
        padding: 0; 
        & li{
            float: left;
            color: black;
            text-align: center;
            text-decoration: none;
        } 
    }
    & button {
        border: none;
        border-radius: var(--border-radius);
        background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: 2%;
        padding: 0.7em 0.7em;
        font-size: 1em;    
    }
}

.name{
    & h1{
        font-size: 1.2rem;
    }
    & hr{
        height: 0.2rem;
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
}



