@import url('./general.css');

* {
    box-sizing: border-box;
    font-family: Pangolin;
}

/*Дэлгэцний гол хэсэг*/
main{
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);
}
/*Нэр ба зураас*/
.name{
    & h1{
        font-size: 1.2rem;
        padding: 1rem;
    }
    & hr{
        height: 0.25rem;
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
}
/*Дэлгэцийг 2 хэсэг хуваах ба хуваасан хэсэг бүрийг үг зургаар нь хуваана*/
.plans{
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto; 

    & .ilerts{
        grid-column: 1 / span 2;
        margin-bottom: 0;
        padding: 1rem;
    }
    & .item{
        display: grid;
        max-width: 50vw;
        gap: 1rem;
        grid-template-areas: 'PlanImage PlanInfo';
    }
}
/*Blogcard доторх мэдээлэл болон зурагны дизайн*/
article {
    border: none;
    box-shadow: 0.1rem 0.2rem 0.5rem #555;
    border-radius: 1rem;
    /*Зураг болон үнэлгээ*/
    & .PlanImage{
        display: flex;

        & img{
            border-radius: 1rem;
            width: 100% ;
            height: auto;
        }

        & meter{
            position:absolute;
            margin-left: 18%;
            margin-top: 1%;
        }
    }
    /*Зурагны хажууд байх төлөвлөгөөний нэр, тайлбар*/
    & .PlanInfo{
        padding: 1rem;
        padding-top: 1.5rem;
        position: relative;
        color: #7d7d7d;
        & h3{
            color: black;
            padding-bottom: 0.3rem;
        }
        & .like{
            float: right;
            border: none;
            background-color: white;
        }
        & .value{
            width:100%;
            border: none;
            border-radius: var(--button-border-radius);
            background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
            color: white;
            cursor: pointer;
            padding: 0.7em 0.7em;
            font-size: 1em;   
        }
        & a {
            float: right;
            margin-right: 5rem;
            text-decoration: none;
            color: #7d7d7d;
        }
        & ol{
            display: flex;
            flex-direction: row;
            list-style: none;
            size: 1em;
            counter-reset: step;
            > li{
                width: 20%;
                float: left;
                font-size: 0.8rem;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                margin-top: 1rem;
                margin-bottom: 1.5rem;
                color: #7d7d7d;
            }
            > li:before {
                width: 2rem;
                height: 2rem;
                content: "";
                line-height: 2rem;
                display: block;
                text-align: center;
                margin: 0 auto 0.3rem auto;
                border-radius: 50%;
                position: relative;
                z-index: 2;
                background-color: #b3b3b3;
            }
            > li:after {
                 width: 100%;
                 height: 0.1rem;
                 content: '';
                 position: absolute;
                 background-color: #b3b3b3;
                 top: 1rem;
                 left: -50%;
            }
            > li:first-child:after {
                 content: none;
            }

            > li.active {
                color: black;  
            }

            > li.active:before {
                background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
             }


            > li:before {
                content: counter(step);
                counter-increment: step; 
            }
        }
    }
}

/*Бүгдийг харуулах товчны байрлал дизайн*/
.Bugd{
    margin-top: 5rem;
    margin-bottom: 5rem;

    & hr{
        height: 0.25rem;
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
    & .btn{
        width: 15rem;
        margin-left: 44rem;
        margin-top: -1.2rem;
        position: absolute;
        border: none;
        border-radius: var(--button-border-radius);
        background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
        color: white;
        cursor: pointer;
        padding: 0.7em 0.7em;
        font-size: 1em;
    }
}
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}

@media only screen and (max-width: 48rem) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}