@import url('./general.css');
main{
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);
}
/*Нэр ба зураас*/
.name{
    & h1{
        font-size: 1.2rem;
        padding: 1rem;
    }
    & hr{
        height: 0.25rem;
        background-image: linear-gradient(to right bottom, var(--main-color), var(--secondary-color));
        margin-bottom: 2rem;
    }
}
/*Дэлгэцийг 2 хэсэг хуваах ба хуваасан хэсэг бүрийг үг зургаар нь хуваана*/
.plans{
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto;
 
    & .ilerts{
        grid-column: 1 / span 2;
        margin-bottom: 0;
        padding: 1rem;
    }
    & .item{
        display: grid;
        max-width: 50vw;
        gap: 1rem;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'PlanImage PlanInfo';
    }
}
/*Blogcard доторх мэдээлэл болон зурагны дизайн*/
article {
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    /*Зураг болон үнэлгээ*/
    & .PlanImage{
        display: flex;
 
        & img{
            border-radius: 1rem;
            width: 100% ;
            height: auto;
        }
        & meter{
            margin-left: -16%;
            margin-top: 2%;
            height: 2rem;
            width: 3.7rem;
        }
    }
    /*Зурагны хажууд байх төлөвлөгөөний нэр, тайлбар*/
    & .PlanInfo{
        padding: 1rem;
        padding-top: 1.5rem;
        position: relative;
        color: var(--h-color);
 
        & .value{
            width:100%;
        }
        & a {
            float: right;
            margin-right: 5rem;
            text-decoration: none;
            color: var(--h-color);
        }
        & ol{
            display: flex;
            flex-direction: row;
            list-style: none;
            size: 1em;
            counter-reset: step;
            > li{
                width: 20%;
                float: left;
                font-size: 0.8rem;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                margin-top: 1rem;
                margin-bottom: 1.5rem;
                color: var(--h-color);
            }
            > li:before {
                width: 2rem;
                height: 2rem;
                content: "";
                line-height: 2rem;
                display: block;
                text-align: center;
                margin: 0 auto 0.3rem auto;
                border-radius: 50%;
                position: relative;
                z-index: 2;
                background-color: var(--p-color);
            }
            > li:after {
                 width: 100%;
                 height: 0.1rem;
                 content: '';
                 position: absolute;
                 background-color: var(--p-color);
                 top: 1rem;
                 left: -50%;
            }
            > li:first-child:after {
                 content: none;
            }
 
            > li.active {
                color: var(--bg-dark-color);  
            }
 
            > li.active:before {
                background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
             }
 
 
            > li:before {
                content: counter(step);
                counter-increment: step;
            }
        }
    }
}
 
 
@media (max-width: 1650px) {
 
    .name{
        & h1{
            font-size: 1.2rem;
            padding: 0.7rem;
        }
        & hr{
            height: 0.25rem;
        }
    }
    /*Дэлгэцийг 2 хэсэг хуваах ба хуваасан хэсэг бүрийг үг зургаар нь хуваана*/
    .plans{
        gap: 1rem;
        & .ilerts{
            padding: 1rem;
        }
        & .item{
            max-width: 50vw;
            gap: 0.5rem;
        }
    }
    /*Blogcard доторх мэдээлэл болон зурагны дизайн*/
    article {
        & .PlanImage{
            & meter{
                margin-left: -22%;
                margin-top: 3%;
            }
        }
        /*Зурагны хажууд байх төлөвлөгөөний нэр, тайлбар*/
        & .PlanInfo{
            padding: 1rem;
            font-size: 0.9rem;
            & h3{
                font-size: 1.3rem;
            }
        }
    }
   
}
 
@media (max-width: 1550px) {
   
 
    /*Дэлгэцийг 2 хэсэг хуваах ба хуваасан хэсэг бүрийг үг зургаар нь хуваана*/
    .plans{
        gap: 1rem;
        & .ilerts{
            padding: 0.7rem;
        }
        & .item{
            gap: 0.2rem;
        }
    }
    /*Blogcard доторх мэдээлэл болон зурагны дизайн*/
    article {
        & .PlanImage{
            & meter{
                font-size: 0.9rem;
                height: 1.7rem;
                width: 3.3rem;
            }
        }
        /*Зурагны хажууд байх төлөвлөгөөний нэр, тайлбар*/
        & .PlanInfo{
            padding: 1rem;
            font-size: 0.8rem;
            & h3{
                font-size: 1.2rem;
            }
            & ol{
                > li{
                    font-size: 0.7rem;
                }
            }
 
        }
    }
}
 
@media (max-width: 1370px) {
    main{
        margin-left: 6rem;
        margin-right: 6rem;
    }
 
    /*Дэлгэцийг 2 хэсэг хуваах ба хуваасан хэсэг бүрийг үг зургаар нь хуваана*/
    .plans{
        gap: 0.7rem;
        & .ilerts{
            padding: 0.5rem;
        }
    }
    /*Blogcard доторх мэдээлэл болон зурагны дизайн*/
    article {
        & .PlanImage{
            & meter{
                font-size: 0.9rem;
                height: 1.7rem;
                width: 3.3rem;
            }
        }
        /*Зурагны хажууд байх төлөвлөгөөний нэр, тайлбар*/
        & .PlanInfo{
            padding: 0.7rem;
            font-size: 0.8rem;
            & h3{
                font-size: 1.2rem;
            }
            & ol{
                > li{
                    font-size: 0.6rem;
                }
            }
            & .like{
                font-size: 0.7rem;
            }
 
        }
    }
}
@media (max-width: 1200px) {
    main{
        margin-left: 5rem;
        margin-right: 5rem;
    }
 
    /*Дэлгэцийг 2 хэсэг хуваах ба хуваасан хэсэг бүрийг үг зургаар нь хуваана*/
    .plans{
        gap: 0.6rem;
        & .ilerts{
            padding: 0.4rem;
        }
    }
    /*Blogcard доторх мэдээлэл болон зурагны дизайн*/
    article {
        & .PlanImage{
            & meter{
                font-size: 0.8rem;
                height: 1.5rem;
                width: 3.1rem;
            }
        }
        /*Зурагны хажууд байх төлөвлөгөөний нэр, тайлбар*/
        & .PlanInfo{
 
            & h3{
                font-size: 1.1rem;
            }
            & ol{
                > li{
                    font-size: 0.5rem;
                }
            }
            & .like{
                font-size: 0.6rem;
            }
 
        }
    }  
   
}
 
@media (max-width: 1080px) {
    main{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .name{
        & h1{
            font-size: 1rem;
            padding: 0.5rem;
        }
    }
    /*Дэлгэцийг 2 хэсэг хуваах ба хуваасан хэсэг бүрийг үг зургаар нь хуваана*/
    .plans{
        gap: 0.5rem;
        & .ilerts{
            padding: 0.4rem;
            font-size: 1.2rem;
        }
    }
    /*Blogcard доторх мэдээлэл болон зурагны дизайн*/
    article {
        & .PlanImage{
            & meter{
                font-size: 0.7rem;
                height: 1.5rem;
                width: 2.8rem;
            }
        }
        /*Зурагны хажууд байх төлөвлөгөөний нэр, тайлбар*/
        & .PlanInfo{
            & h3{
                font-size: 1rem;
            }
            & ol{
                > li{
                    font-size: 0.5rem;
                }
            }
            & .like{
                font-size: 0.5rem;
            }
 
        }
    }  
}
@media (max-width: 990px) {
    main{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .plans{
        gap: 0.7rem;
        & .ilerts{
            padding: 0.3rem;
        }
    }
}
@media (max-width: 900px) {
    main{
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .plans{
        display:inline-block;
   
        & .ilerts{
            margin-bottom: 0;
            padding: 1rem;
        }
        & .item{
            display: grid;
            max-width: 100vw;
            gap: 1rem;
            grid-template-areas: 50% 50%;
        }
    }
    article {
        & .PlanImage{
            & meter{
                font-size: 0.8rem;
                height: 1.5rem;
                width: 3.1rem;
            }
        }
        /*Зурагны хажууд байх төлөвлөгөөний нэр, тайлбар*/
        & .PlanInfo{
 
            & h3{
                font-size: 1.1rem;
            }
            & ol{
                > li{
                    font-size: 0.7rem;
                }
            }
            & .like{
                font-size: 0.6rem;
            }
 
        }
    }  
}
@media (max-width: 620px){
    main{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .plans{
   
        & .ilerts{
            padding: 0.3rem;
        }
    }
    article {
        & .PlanImage{
            & meter{
                font-size: 0.7rem;
                height: 1.3rem;
                width: 2.6rem;
            }
        }
        /*Зурагны хажууд байх төлөвлөгөөний нэр, тайлбар*/
        & .PlanInfo{
            font-size: 0.6rem;
            & h3{
                font-size: 0.7rem;
            }
            & ol{
                > li{
                    font-size: 0.5rem;
                }
            }
            & .like{
                font-size: 0.6rem;
            }
        }
    }  
}