@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
    font-family: pangolin;
    margin: 0;
    padding: 0;
}




h2 {
    font-weight: lighter;
    font-size: 18px
}

h3 {
    margin-top: 30px;
    margin-left: 30px;
}

#hr1 {
    height: 0.15rem;
    background-image: linear-gradient(to bottom right, #0A5C76, #2FA2C6);
}

.idk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 80rem;
    margin: auto;
}

.main {
    margin-top: 5%;
    display: grid;
    grid-row: auto;
    grid-template-columns: 60% 35%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
}

#bigPic {
    object-fit: cover;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
    & img {
        width: 100%;
        height: auto;
    }
}


.info {
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
    & li {
        margin: 5%;
    }
}


#taniltsuulga {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
    & p {
        margin-left: 30px;
        font-weight: bold;
    }
}

#ratingOnComment {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
    & h3 {
        position: absolute;
    }
    & h4 {
        margin-top: 30px;
        margin-left: 30px;
    }
    & p {
        margin-top: 10px;
        margin-left: 30px;
    }
}

#ratingplace #stars {
    margin-top: 30px;
    margin-left: 350px;
}

.ratingplace {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    & label {
        padding: 10px;
        display: block; 
        margin-left: 20px;
        width: 100%; 
    }
    & progress {
        width: 100%;
    }
}

progress {
    position: relative;
    left: 20px;
    background-image: linear-gradient(to bottom right, #0A5C76, #2FA2C6);
    border-radius: 25px;
}

progress::-webkit-progress-value {
    background-image: linear-gradient(to bottom right, #0A5C76, #2FA2C6);
    border-radius: 25px;
}

progress::-webkit-progress-bar {
    background-color: lightgray; 
    border-radius: 25px;
}

section {
    margin-bottom: 20px;
}

h2, h3, h4 {
    color: #333333;
}

address, time, p, ul {
    color: #666666;
}

.similarPlans {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    & h2 {
        font-weight: bold;
    }
    & div {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}

article {
    background-color: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
    overflow: hidden; 
    & img {
        width: 50%;
        height: 100%; 
        object-fit: cover; 
    }
}

.content {
    width: calc(33.33% - 20px);
    flex: 1;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

h3, p, address, time, a {
    margin: 0;
}
  
footer {
    background-color: #0A5C76;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

    & p {
        color: white;
    }

}

