@import url('./general.css');

body {
    font-family: pangolin;
}
body{
  margin: 0;
  padding: 0;
}
main{
  margin-top: 1rem;
  margin-left: var(--margin-side);
  margin-right: var(--margin-side);
  display: grid;
  grid-template-columns: 70% 30%; /* Two equal columns */
  gap: 1rem; /* Adjust the gap between columns */

  & .name{
    grid-column: 1 / span 2;
    & h1{
      font-size: 1.3rem;
      padding: 1rem;
    }
    & hr{
      height: 0.25rem;
      background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
  }

  & .plans {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: auto auto auto auto;
    & h2{
      grid-column: 1 / span 4;
      padding-bottom: 2rem;
      text-align: center;
    }
    & .subPlans {
        background-color: #fff;
        transition: box-shadow 0.3s;
        max-width: 20rem; 
        width: 100%; 
        margin: 0 1rem 1rem; 
    }
    & .subPlans:hover{
        background-color: #d0dce9;
        transition: 0.4s;
    }
    & button{
        margin-top: 2%;
    }
    & img{
        border-radius: 1rem;
        height: 14rem;
    }
  }
}

.subplan-grid {
  display: grid;
  grid-template-columns: 30% 60%; /* Two columns, first one will be as wide as its content, second will take the remaining space */
  gap: 1rem; /* Adjust the gap between columns */
  border: 1px solid #b7b2b2;
  border-radius: 1rem;
  margin: 1rem;
  padding-bottom: 1rem;
   /* Optional: Add border to sections */
   & img{
    border-radius: 100%;
    width: 80%;
    height: 80%;
    margin: 2rem;
  }
   & .PlanInfo{
    font-size: 1rem;
    padding: 1rem;
    padding-top: 1.5rem;
    position: relative;
    color: #7d7d7d;

    & .value{
        width:100%;
    }
    & a {
        float: right;
        margin-right: 5rem;
        text-decoration: none;
        color: #7d7d7d;
    }
  }
}

.leftsection{
  & .time{
    color: #0A5C76;
    float: left;
  }
  & ol{
    list-style: none;
    size: 1em;
    counter-reset: step;
    > li{
      font-size: 2rem;
      position: relative;
      color: white;
  }
    > li:before {
        float: left;
        width: 3.5rem;
        height: 3.5rem;
        content: "";
        line-height: 3.5rem;
        display: block;     
        text-align: center;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    }
    > li:after {
        width: 0.2rem;
        height: 100%;
        content: '';
        position: absolute;
        background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
        top: 1rem;
        left: 7.5rem;
    }
    > li:last-child:after {
        content: none;
    }
    > li:before {
        content: counter(step);
        counter-increment: step; 
    }
}
  
}

/*Бүгдийг харуулах товчны байрлал дизайн*/


