@import url('./general.css');
 
body {
    font-family: pangolin;
}
body{
  margin: 0;
  padding: 0;
}
.sayNothing{
  & h2{
    margin-top: -3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }
}
main{
  margin-top: 1rem;
  margin-left: var(--margin-side);
  margin-right: var(--margin-side);
  display: grid;
  grid-template-columns: 70% 30%; /* Two equal columns */
  gap: 1rem; /* Adjust the gap between columns */
 
  & .name{
    grid-column: 1 / span 2;
    & h1{
      font-size: 1.3rem;
      padding: 1rem;
    }
    & hr{
      height: 0.25rem;
      background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
  }
}


.comment{
  display: grid;
  grid-template-columns: 16% 50% 16%;
  gap:1rem;
  & time{
    font-size: 0.6rem;
  }
}

.rateAction{
  & rating {
       display: inline-flex;
     }
    & input { 
      appearance: none;
      margin: 0;
      box-shadow: none; 
    }
    & input::after {
      content: '\2605';
      font-size: 32px;
    }
    & rating:hover input:invalid::after,
    rating:focus-within input:invalid::after {
      color: #888;
    }
    & input:invalid::after,
    rating:hover input:hover ~ input:invalid::after,
    input:focus ~ input:invalid::after  {
      color: #ddd;
     }
    & input:valid {
      color: orange;
    }
    & input:checked ~ input:not(:checked)::after {
      color: #ccc;
      content: '\2606'; /* optional. hollow star */
    }
}
.plans {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 3rem;
  & h2{ /*ijil tustei gesen garchig*/
    grid-column: 1 / span 4;
    padding-bottom: 2rem;
    text-align: center;
  }
  & .subPlans {
      max-width: 90%;
      width: 100%;
      color: #7d7d7d;
  }
  & .subPlanWord{
    padding: 1rem;
  }
  & meter{
    float: right;
    height: 2rem;
    width: 3.7rem;
  }
  & button{
    margin: 10% 0 0 0;
    width: 100%;
  }
  & img{
      border-radius: 1rem;
  }
}
 
.subplan-grid {
  display: grid;
  grid-template-columns: 25% 73%;
  gap: 1rem;
  border: 1px solid #b7b2b2;
  border-radius: 1rem;
  margin: 1rem;
  padding-bottom: 1rem;
   & img{
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: 1.5rem 1rem 1rem 2rem;
  }
   & .PlanInfo{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    font-size: 1rem;
    padding: 1rem;
    padding-top: 1.5rem;
    position: relative;
    color: #7d7d7d;
    & h4{
      grid-column: 1 / span 3;
      padding-top: 1.2rem;
      color: black;
      font-size: 1.2rem;
    }
    & .tag{
      line-height: 2rem;
    }
    & .intro{
      grid-column: 1 / span 3;
      padding-bottom: 1rem;
    }
    & meter{
      left: 70%;
      top: -10%;
      height: 2rem;
      width: 3.7rem;
    }
    & .value{
      grid-column: 3 / span 1;
    }
    & a {
        float: right;
        text-decoration: none;
        color: #7d7d7d;
    }
  }
}
 
.leftsection{
  & .time{
    color: #0A5C76;
    float: left;
    padding: 1rem 2rem 1rem 1rem;
  }
  & ol{
    list-style: none;
    size: 1em;
    counter-reset: step;
    > li{
      font-size: 2rem;
      position: relative;
      color: white;
  }
    > li:before {
        float: left;
        width: 3.5rem;
        height: 3.5rem;
        content: "";
        line-height: 3.5rem;
        left: -1rem;
        display: block;    
        text-align: center;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    }
    > li:after {
        width: 0.2rem;
        height: 100%;
        content: '';
        position: absolute;
        background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
        top: 1rem;
        left: 9.5rem;
    }
    > li:last-child:after {
        content: none;
    }
    > li:before {
        content: counter(step);
        counter-increment: step;
    }
  }  
}
.invisible {
  display: none;
}

.ratingPlace {
  width: 100%;
  height: 23rem;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem ;
  background-color: #fff;
  & p {
      font-size: 14px;
  }
  & .ratingTitle{
      display: flex;
      justify-content: space-between;
      padding: 0 1rem 0 1rem;
      width: 100%;
  }
  & .myRating {
      display: inline-block;
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: center;
      & input[type="radio"] {
          display: none;
        }
      & label {
          display: inline-block;
          padding: 5px;
          font-size: 30px;
          cursor: pointer;
          color: #ccc;
        } 
  }
  
  &  .myRating label:hover,
  .myRatinglabel:hover ~ label {
    color: #ffca08;
  }
  
  & .myRating input[type="radio"]:checked ~ label {
    color: #ffca08;
  }
  & .ratingOnComment {
      display: flex;
      flex-direction: column;
      height: 13rem;
      overflow: auto;
      padding: 0 0 0 1rem;
      & h4 {
          font-size: 18px;
      }
  }
  & #stars{
      color: #0A5C76;
  }
  & #submit-button {
      background: none;
      border: none;
      width: 45px;
      height: 45px;
      cursor: pointer;
  }
  & input {
      width: 80%;
      font-family: pangolin;
  }

}

progress {
  position: relative;
  left: 1rem;
  background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
  border-radius: 25px;
}

progress::-webkit-progress-value {
  background-image: linear-gradient(to bottom right,var(--main-color), var(--secondary-color));
  border-radius: 25px;
}

progress::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 25px;
}

progress::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 25px;
}

@media (max-width: 1600px) {
  main{
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .subplan-grid {
     & img{
      width: 90%;    
    }
    & .PlanInfo{
      & meter{
        left: 60%;
        top: -10%;
      }
    }
  }
}
@media (max-width: 1340px) {
  main{
    margin-left: 4rem;
    margin-right: 4rem;
    grid-template-columns: 75% 25%;
  }
  .subplan-grid {
    grid-template-columns: 25% 75%;
     & .PlanInfo{
      grid-template-columns: 40% 25% 30%;
      & meter{
        left: 60%;
        top: -10%;
      }
    }
  }
  .leftsection{
    & .time{
      padding: 1rem 2rem 0rem 0rem;
    }
    & ol{
      > li{
        font-size: 1.5rem;
      }
      > li:after {
          left: 8.3rem;
      }
      > li:before {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
      }
    } 
  }
}   
@media (max-width: 1100px) {
  main{
    font-size: 0.8rem;
  }
  .subplan-grid {
      & img{
       width: 90%;    
       height: 70%;
     }
     & .PlanInfo{
      font-size: 0.8rem;
      padding-left: 0.5rem;
      padding-top: 1rem;
      & h3{
        font-size: 1.3rem;
      }
      & h4{
        padding-top: 1rem;
        font-size: 1rem;
      }
      & meter{
        height: 1.8rem;
        width: 3.2rem;
      }
      & .intro{
        grid-column: 1 / span 3;
        padding-bottom: 1rem;
      }
    }
  }
  .leftsection{
    & ol{
      > li{
        font-size: 1.3rem;
    }
      > li:before {
          width: 2.7rem;
          height: 2.7rem;
          line-height: 2.7rem;
      }
      > li:after {
          left: 7rem;
      }
    }  
  }
  .plans {
    & h3{
      font-size: 1.3rem;
    }
    & .subPlans {
        max-width: 90%;
        width: 100%;
        color: #7d7d7d;
    }
    & .subPlanWord{
      padding: 1rem;
    }
    & meter{
      height: 1.8rem;
      width: 3.2rem;
    }
    & button{
      margin: 5% 0 0 0;
    }
  }
} 
@media (max-width: 930px) {
  main{
    margin-left: 2rem;
    margin-right: 2rem;
    display: block;
  }
} 
@media (max-width: 680px) {
main{
  font-size: 0.6rem;
}
.subplan-grid {
    & img{
     width: 90%;    
     height: 70%;
     margin: 1rem 0rem 0rem 1rem;
   }
   & .PlanInfo{
    font-size: 0.6rem;
    padding-left: 0.3rem;
    padding-top: 0.8rem;
    & h3{
      font-size: 1rem;
    }
    & h4{
      padding-top: 0.5rem;
      font-size: 0.8rem;
    }
    & meter{
      height: 1.4rem;
      width: 2.5rem;
    }
    & .intro{
      padding-bottom: 1rem;
    }
  }
}
.leftsection{
  & ol{
    > li{
      font-size: 1rem;
  }
    > li:before {
        width: 2.2rem;
        height: 2.2rem;
        line-height: 2.2rem;
    }
    > li:after {
        left: 5.5rem;
    }
  }  
}
.plans {
  & h3{
    font-size: 1rem;
  }
  & .subPlans {
      max-width: 90%;
      width: 100%;
      color: #7d7d7d;
  }
  & .subPlanWord{
    padding: 1rem;
  }
  & meter{
    height: 1.4rem;
    width: 2.5rem;
  }
  & button{
    margin: 5% 0 0 0;
  }
}
}
