@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
    --main-color: rgb(10,92,118);
    --secondary-color: rgb(41,151,185);
    --main-bg-color: #f8f8f8;
    --main-fonts: Pangolin;
    --border-radius: 2rem;
    --button-border-radius: 1rem;
}
