@import url('root.css');

* {
    box-sizing: border-box;
    font-family: Pangolin;
}
/*Дэлгэцээ хуваах*/
main{
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);
    display: grid;
    gap: 2rem;
    & .name{
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    & .place{
        grid-column: 1 / span 2;
        grid-row: 2;

    }
    & .Bugd{
        grid-column: 1 / span 3;
        grid-row: 3;
    }
}
.result{
    display: grid;
    gap: 1rem;
    grid-template-columns: 35% 65%;

}
.filter{
    & article{
        padding: 2rem;
    }
    & h3{
        padding-bottom: 1rem;
    }
    & ol{
        list-style: none;
        size: 1em;
    }
    & p{
        width: 3rem;
        height: 2rem;
        margin-left: 90%;
        text-align: center;
        border-radius: 1rem;
        color: var(--main-bg-color);
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
}
/*Нэр ба зураасаа гоё болгох*/
.name{
    
    & h1{
        font-size: 1.2rem;
        padding: 1rem;
    }
    & hr{
        height: 0.25rem;
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
}

article {
    margin-bottom: 2rem;
    border: none;
    box-shadow: 0.1rem 0.2rem 0.5rem #555;
    border-radius: 1rem;
    & img{
        border-radius: 1rem;
        width: 25rem;
        height: 20rem;
    }

    & .PlaceInfo{
        padding: 2rem;
        position: relative;
        color: #7d7d7d;

        & h3{
            color: black;
            padding-bottom: 0.3rem;
        }
        & meter{
            position:absolute;
            margin-left: 10%;
            margin-top: -3.5%;
        }
        & .like{
            float: right;
            border: none;
            background-color: white;
        }
        & .heartbutton{
            float: right;
            margin: 0.5rem;
            border: none;
            background-color: white;
        }
        & .value{
            float: right;
            width:40%;
            border: none;
            border-radius: 1rem;
            background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
            color: white;
            cursor: pointer;
            padding: 0.7em 0.7em;
            font-size: 1em;   
        }
        & a {
            float: right;
            margin-right: 10rem;
            text-decoration: none;
            color: #7d7d7d;
        }
    }
}

/*Бүгдийг харуулах товчны байрлал дизайн*/
.Bugd{
    margin-bottom: 5rem;

    & hr{
        height: 0.25rem;
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
    & .btn{
        width: 15rem;
        margin-left: 44rem;
        margin-top: -0.8rem;
        position: absolute;
        border: none;
        border-radius: var(--border-radius);
        background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
        color: white;
        cursor: pointer;
        padding: 0.7em 0.7em;
        font-size: 1em;
    }
}
