@import url('./general.css');
 
 
/*Дэлгэцээ хуваах*/
main{
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);
    display: grid;
    gap: 2rem;
    & .name{
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    & .place{
        grid-column: 1 / span 2;
        grid-row: 2;
 
    }
    & .Bugd{
        grid-column: 1 / span 3;
        grid-row: 3;
    }
}
.result{
    display: grid;
    gap: 1rem;
    grid-template-columns: 35% 65%;
 
}
.filter{
    & article{
        padding: 2rem;
    }
    & h3{
        padding-bottom: 1rem;
    }
    & ol{
        list-style: none;
        size: 1em;
        & li{
            padding: 1rem;
        }
    }
    & p{
        position: relative;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        padding-left: 1rem;
        padding-right: 2rem;
        margin-left: 90%;
        margin-top: -5%;
        text-align: center;
        border-radius: 1rem;
        color: var(--main-bg-color);
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
}
/*Нэр ба зураасаа гоё болгох*/
.name{
   
    & h1{
        font-size: 1.2rem;
        padding: 1rem;
    }
    & hr{
        height: 0.25rem;
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
}
 
article {
 
    & .PlaceInfo{
        padding: 2rem;
        position: relative;
        color: #7d7d7d;
 
        & h3{
            color: black;
            padding-bottom: 0.3rem;
        }
        & meter{
            margin-top: 0%;
            margin-left: 10%;
            height: 2rem;
            width: 3.7rem;
        }
   
        & .value{
            margin-top: 4.5rem;
            float: right;
            width:40%;
        }
        & a {
            float: right;
            margin-right: 10rem;
            text-decoration: none;
            color: #7d7d7d;
        }
    }
}
 
/*Бүгдийг харуулах товчны байрлал дизайн*/
.Bugd{
    margin-bottom: 5rem;
 
    & hr{
        height: 0.25rem;
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
    & .btn{
        width: 15rem;
        margin-left: 44rem;
        margin-top: -0.8rem;
        position: absolute;
        border: none;
        border-radius: var(--border-radius);
        background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
        color: white;
        cursor: pointer;
        padding: 0.7em 0.7em;
        font-size: 1em;
    }
}
 