@import url('root.css');

* {
    box-sizing: border-box;
    font-family: Pangolin;
}
/*Дэлгэцээ хуваах*/
main{
    margin-left: 8rem;
    margin-right: 8rem;
    display: grid;
    gap: 3rem;
    & .name{
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    & .place{
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    & .btn{
        grid-column: 1 / span 3;
        grid-row: 3;
    }
}

/*Нэр ба зураасаа гоё болгох*/
.name{
    
    & h1{
        font-size: 1.2rem;
    }
    & hr{
        height: 0.2rem;
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
}

article {
    border: none;
    box-shadow: 0.1rem 0.2rem 0.5rem #555;
    border-radius: 1rem;
    & .PlaceImage{
        display: flex;

        & img{
            border-radius: 1rem;
            width: 25rem;
            height: auto;
        }

        & meter{
            position:absolute;
            margin-left: 18rem;
            margin-top: 1rem;
        }
    }

    & .PlaceInfo{
        padding: 0.5rem;
        position: relative;

        & .heartbutton{
            float: right;
            margin: 0.5rem;
            border: none;
            background-color: white;
        }
        & .value{
            width:100%;
            border: none;
            border-radius: var(--border-radius);
            background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
            color: white;
            cursor: pointer;
            padding: 0.7em 0.7em;
            font-size: 1em;   
        }
        & a {
            float: right;
            margin-right: 5rem;
            text-decoration: none;
            color: black;
        }
        & ol{
            display: flex;
            flex-direction: row;
            & li{
               
            }
        }
    }
}
