@import url(./general.css);
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
 
body {
    font-family: pangolin;
    margin: 0;
    padding: 0;
   
}
 
main {
    width: 85%;
    margin: auto;
}
 
/*LetsGo buttontoi filterdej searchilj bga heseg maani*/
.Lsearch {
    display: flex;
    text-align: center;
    overflow: hidden;
    margin-left: 30%;
    border-radius: 20px;
    width: 50%;
    margin: 2rem;
    margin-left: 25%;
    & select, button{
        flex: 1;
        font-size: 14px;
    }
    & select{
        width: 8rem;
        padding: 0.5rem;
        font-family: pangolin;
        color:#666666 ;
        background-color: #ececec;
    }
    & button {
        background-image: linear-gradient(to bottom right, #0A5C76, #2FA2C6);
        color: #fff;
        border: none;
        border-radius: 0 20px 20px 0;
        font-family: pangolin;
    }
    & button:hover {
        background-color: #0056b3;
    }
    & #huniiToo {
        border-radius: 20px 0 0 20px;
    }
    & .option1, .option2, .option3 {
        text-align: center;
        font-size: 16px;
        width: 10px;
        height: 50px;
        border-radius: var(--border-radius);
    }
  }
    .priceFilter[type=range] {
        width: 100%;
        margin: 10px 0;
    }

    /* Style to make the slider more appealing */
    .priceFilter[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: rgb(10,92,118);
        cursor: pointer;
    }

    .priceFilter[type=range]::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: rgb(10,92,118);
        cursor: pointer;
    }
 
.undsen {
    display: grid;
    grid-row: auto;
    grid-template-columns: 25% 67%;
    grid-column-gap: 8%;
}
 
aside {
    border-radius: 1rem;
    padding: 0.5rem 1em;
    box-shadow: 0 1px 2px 0 gray;
    height: 35rem;
    padding: 2rem 2.5rem;
    & li {
        list-style: none;
        display: flex;
        flex-direction: row;
        font-size: 13px;
        justify-content: space-between;
        gap: 2rem;
    }
    & hr{
        height: 0.1rem;
        margin: 1rem 3rem;
    }
    & h2 {
        text-align: center;
    }
    & h3 {
        font-size: 17px;
        margin-bottom: 0.7rem;
    }
    & label {
        font-size: 13px;
    }
    & input {
        margin-right: 1rem;
    }
}
 
.result {
    display: grid;
    grid-template-columns: 35% 62%;
    gap: 1%;
    & .intro{
       padding-bottom: 5%; 
    }
    & .PlaceImage{
        height: 100%;
        width: 95%;
    }
    & .PlaceInfo{
        padding-top: 2rem;
        & h3{
            font-size: 150%;
        }
        & .value{
            width: 100%;
        }
        & a {
            text-decoration: none;
        } 
        & .like{

        }
    }
}

.Bugd{
    margin-top: 5rem;
    margin-bottom: 5rem;
 
    & hr{
        height: 0.25rem;
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
    & .btn{
        width: 15%;
        margin-left: 36%;
        margin-top: -1%;
        position: absolute;
        border: none;
        border-radius: var(--button-border-radius);
        background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
        color: white;
        cursor: pointer;
        padding: 0.7em 0.7em;
        font-size: 1em;
    }
    & .btn:hover{
        box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px #0A5C76, 0px 0px 0px 10px white, 0px 0px 0px 10.5px #2FA2C6;
        background-image: none;
        background-color: #fff;
        color: #0A5C76;
        transition: 0.5s;
    }
}
 
address, time, p, ul , li, a, label{
    color: #666666;
}

 
 
 
