@import url('./general.css');
 
 
/*Дэлгэцээ хуваах*/
main{
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);
    display: grid;
    grid-template-columns: 35% 35% 25%;
    gap: 2rem;
    & .name{
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    & .place{
        grid-column: 1 / span 2;
        grid-row: 2;
 
    }
    & .Bugd{
        grid-column: 1 / span 3;
        grid-row: 3;
    }
}
.result{
    display: grid;
    gap: 2rem;
    grid-template-columns: 30% 65%;
 
}
.filter{
    & article{
        padding: 2rem;
    }
    & h3{
        padding-bottom: 1rem;
    }
    & ol{
        list-style: none;
        size: 1em;
        & li{
            padding: 0.5rem;
        }
    }
    & p{
        position: relative;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        padding-left: 1rem;
        padding-right: 2rem;
        margin-left: 90%;
        margin-top: -5%;
        text-align: center;
        border-radius: 1rem;
        color: var(--main-bg-color);
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
}
/*Нэр ба зураасаа гоё болгох*/
.name{
   
    & h1{
        font-size: 1.2rem;
        padding: 1rem;
    }
    & hr{
        height: 0.25rem;
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
}
 
article {
    & img{
        height:100% ;
    }
    & .PlaceInfo{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        padding-top: 1rem;
        position: relative;
        color: #7d7d7d;
        & .tag{
            grid-column: 1 / span 3;
        }
        & h3{
            color: black;
            padding-bottom: 0.3rem;
        }
        & h4{
            color: black;
            font-size: 1.2rem;
            grid-column: 1 / span 3;
        }
        & meter{
            height: 2rem;
            width: 3.7rem;
        }
        & .intro{
            grid-column: 1 / span 3;
          }
        & .value{
            grid-column: 3 / span 1;
            width:100%;
            height: 70%;
        }
        & a {
            text-decoration: none;
            color: #7d7d7d;
        }
        & .like{
            align-items: flex-end;
        }
    }
}
 
/*Бүгдийг харуулах товчны байрлал дизайн*/
.Bugd{
    margin-bottom: 5rem;
 
    & hr{
        height: 0.25rem;
        background-image: linear-gradient(to right bottom, #0A5C76, #2FA2C6);
    }
    & .btn{
        width: 15rem;
        margin-left: 44rem;
        margin-top: -0.8rem;
        position: absolute;
        border: none;
        border-radius: var(--border-radius);
        background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
        color: white;
        cursor: pointer;
        padding: 0.7em 0.7em;
        font-size: 1em;
    }
    & .btn:hover{
        box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px #0A5C76, 0px 0px 0px 10px white, 0px 0px 0px 10.5px #2FA2C6;
        background-image: none;
        background-color: #fff;
        color: #0A5C76;
    }
}
Urana Orgil Rk-д бичих
