@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Pangolin;
    background-color: #f8f8f8;
}

button {
    border: none;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 2%;
    padding: 0.7em 0.7em;
    font-size: 1em;
    
}

button:hover {
    background-color: #0056b3;
}

/* Main styles */
main {
    padding: 30px;
}

header {
    background-color: var(--main-color);
    background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    padding-bottom: 4%;
}

/* Section and Article styles */
section, article {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

 
    

footer {
    background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    padding:0px;
    text-align: center;
    & p{
    color: white;
    text-align: center;
    padding-bottom: 10px;
    }
     & a{
        text-decoration: none;
        padding: 5px;
    }
    & ul, li{
        list-style: none;
    }
    & .logopngfooter {
        max-width: 60%; /* Make sure the images don't exceed their container */
      }
    .footerGrid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        padding-top: 20px;
    }
     & .footer-section:nth-child(2) img {
        padding: 5px;
    }
    
      
}



nav
 {
    display: inline;

    & a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    } 
    & img{
            width: 12%;
            margin-bottom: -2.4%;
            margin-left: 4%;
    }
    & ul{
        list-style-type: none;
    }
    & li {
        display: inline;
        margin-right: 10px;
    }
}

article:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

 article {
    & img {
    max-width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: 2%;
    }
    & h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}
}

p {
    color: #555;
    font-size: 14px;
}

.background {
    background-image: url('../zurag/background.jpg');
    text-align: center;
    height: 800px;
    width: 112%;
    margin-top: -5%;
    margin-left: -10%;
    margin-bottom: -10%;
}
.Lsearch {
    text-align: center;
    margin-left: 30%;
    display: flex;
    border: 1px solid rgb(191, 189, 189);
    border-radius: 20px;
    width: 50%;
    overflow: hidden;
    & select, button{
        flex: 1;
        font-size: 16px;
    }
    & select{
        border-right: 2px solid #ccc;
    }
    & button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 0 20px 20px 0;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      & button:hover {
        background-color: #0056b3;
      }
      & .option1, .option2, .option3 {
        text-align: center;
        font-size: 16px;
        width: 10px;
        height: 50px;
        border-radius: var(--border-radius);
    }
  }

.plansContainer{
    margin-top: 10%;
}

.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    & .subPlans {
        border: 1px solid #ccc;
        padding: 15px;
        background-color: #fff;
        transition: box-shadow 0.3s;
        max-width: 300px; /* Set a maximum width */
        width: 100%; /* Fill available space */
        margin: 0 10px 20px; /* Add some margin for spacing */
        border-radius: 20px;
    }
    & .subPlans:hover{
        background-color: #d0dce9;
        transition: 0.4s;
    }
    & button{
        margin-top: 2%;
    }
}


.placesToRecommend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    & .BigRecommend {
        text-align: center;
        border: 1px solid #ccc;
        background-color: #fff;
        max-width: 50%;
        width: 100%;
        height: 100%;
        border-radius: 50px;  
        & img{
            height: 400px;
            width: 100%;
        }
        & button{
            margin-bottom: 2%;
        }
    }
     & .subRecommend{
        max-width: 700px;
        width: 100%;
        border-radius: 50px;
    }
    & button{
        margin-top: 2%;
    }
    
}



.RecommendPlacesToFlex img{
    max-width: 150px;
    width: 100%; /* Set the width to 100% to make the image fill its container */
    max-height: 150px;
    margin: 4%;
}
.RecommendPlacesToFlex {
    display: flex;
    max-width: 100%;
    border-radius: 20px;
    border: 1px solid #ccc;
    max-height: 100%;
    & .image {
        flex: 1;
        max-width: 300px; 
    }
    & .details {
        flex: 1;
        padding: 15px;
        text-align: center;
    }
}
.newPlaces {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    & .subNewPlaces {
        display: flex;
        background-color: #fff;
        border: 1px solid #ccc;
        max-width: 500px;
        border-radius: 20px;
        & .image {
            flex: 1;
            max-width: 300px; /* Set a maximum width for the image side */
        }
        & .details {
            flex: 1;
            padding: 15px;
            text-align: center;
            & button{
                margin-top: 2%;
            }
            
        }
    }
}




@media (max-width: 780px) {
    .logopngfooter {
        max-width: 50%;
    }

    .footerGrid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .newPlaces, .RecommendPlacesToFlex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .subNewPlaces, .subRecommend {
        width: 100%;
        max-width: 300px;
        margin: 0 10px 20px;
    }

    .RecommendPlacesToFlex .image, .RecommendPlacesToFlex .details {
        flex: 1;
        max-width: none;
    }

    .RecommendPlacesToFlex img {
        max-width: 100%;
        height: auto;
    }

    .BigRecommend, .subNewPlaces .image, .subNewPlaces .details {
        width: 100%;
        max-width: none;
    }
    
    nav .text{
        display: none;
    }
    .Lsearch{
        display: none;
    }
    button.navButton {
            padding: 8px 12px; /* Adjust padding as needed */
            font-size: 14px; /* Adjust font size as needed */
    }
    p{
        font-size: 12px;
    }
}

@media (max-width: 1050px) {
    nav {
        & .text, button{
        font-size: 12px;
    }
    }
    .option1, .option2, .option3 {
        font-size: 8px; /* Adjust the font size as needed */
    }
}